@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is the first view </h1>
<h3>Welcome @User.Identity.Name</h3>
<ul>
    @foreach(var c in User.Claims)
    {
        <li>@c.Type : @c.Value</li>

    }
</ul>