@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>User Detail</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Bob J</td>
    <td>Bob@email.com</td>
    <td>United Stae</td>
  </tr>
  <tr>
    <td>John J</td>
    <td>John@email.com</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Alice M</td>
    <td>Alice@email.com</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Smith S</td>
    <td>Smith@email.com</td>
    <td>UK</td>
  </tr>
  </table>

</body>


